{% extends 'base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
    <h1>Create new Equipe</h1>

    {{ include('BackEnd/equipe/_form.html.twig') }}

    <a href="{{ path('admin_equipe_index') }}">back to list</a>
{% endblock %}
