<section style="margin-top: 35px; background: #f1f1f0">

    <div class="container">

        <div class="row">
            <div class="col-md-12 ">
                <div class="edito border-radius-10">
                    <h3 class="title-heading">
                        LE DÉCHAINÉ DU JEUDI
                    </h3>
                    <p>Le « Déchainé du Jeudi» est un hebdomadaire satirique et
                        d'humour paraissant à
                        Cotonou tous les jeudis. Créé en Août 2018, il s'inscrit dans la lignée
                        d'initiatives de
                        promotion d'une presse satirique crédible au Bénin. Des Initiatives qui, hélas,
                        depuis 1991,
                        n'ont jamais pu s'inscrire dans la durée, malgré l'engagement et la combativité de
                        leurs divers
                        promoteurs. </p>
                    <p>C'est alors en analysant sans concession les raisons de cette très faible espérance
                        de
                        vie,
                        que des acteurs, dessinateurs de presse, chroniqueurs et rédacteurs, forts des
                        expériences
                        acquises dans des projets antérieurs, se sont remis ensemble pour rallumer le
                        flambeau
                        de
                        l'humour, de l'impertinence et de la satire dans un environnement médiatique
                        béninois
                        devenu
                        de plus en plus monotone.</p>
                    <p>L'accueil enthousiaste que reçoit chacune de nos parutions et la demande de plus en
                        plus
                        persistante de lecteurs au-delà des limites couvertes par la distribution physique,
                        nous
                        a amené à envisager l'ouverture de ce site à travers lequel vous pourrez avoir accès
                        à
                        nos contenus en version numérique, par le biais d'un abonnement forfaitaire.</p>


                    <p>Lire et diffuser le DDJ, c'est soutenir le droit à l'impertinence..</p>
                    <div class="edito-links">
                        <a class="abonnement-link abonnement--premium button-edito" href="{{ path('accueil_formules_abonnement') }}"> S'abonner au
                            DDJ</a>
                        <a class="contact-us button-edito" href="#"> Contacter la redaction</a>
                    </div>
                </div>
            </div>
            <!--                        <div class="col-md-4"> </div>-->
        </div>


    </div>
</section>


<section id="citation">
    <div class="container quote">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="footer-quote">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>

                    <div class="footer-quote__content">
                        Lire et diffuser le DDJ, c'est soutenir le droit à l'impertinence...
                    </div>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </blockquote>
            </div>
        </div>
    </div>
</section>