<div class="newsletter-subscribe mt-5 container">
    <div class="container">
        <div class="intro">
            <h2 class="text-center newsletter">Newsletter</h2>
            <p class="text-center"> Restez informer sur nos derniéres parutions </p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Mon e-mail"></div>
            <div class="form-group"><button class="btn btn-primary btn-newsletter" type="button">S'inscrire </button></div>
        </form>
    </div>
</div>