<div class="col-sm-6">
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 align-self-center">
                                <div class="text-center mt-2">
                                    <img class="img-fluid" src="{{ asset('FrontEnd/assets/images/abonnement/Le-dechaine-du-jeudi-numerique-on.png')}}" width="100%"> </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="text-white mt-5">
                                    <h3 class="mb-3 popup-title">Le DDJ en  Numérique</h3> <span class="intro-1">
                            Retrouvez désormais votre hebdomadaire satirique Le Déchaîné du Jeudi en version numérique et en ligne.
                        </span>
                                    <div class="mt-2"> <span class="intro-2">
                              Disponible en format PC, Tablette  et Android
                            </span> </div>
                                    <div class="mt-2"> <span class="intro-2">
                              Abonnement, achat en ligne
                            </span> </div>
                                    <div class="mt-4 mb-5"> <button class="btn-clean btn-pad"><a href="{{ path('accueil_abonnement',{'slug':'abonnement-au-dechaine-du-jeudi-numerique'}) }}"> Je m'abonne </a> <i class="fa fa-long-arrow-right"></i></button> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>