<section style="margin-top: 35px">
    <div class="container-fluid pub-jdd" style="background: white" c>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    PUB
                </p>
            </div>
        </div>
    </div>
</section>