{% if TBTitle is defined %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                {% if TBTitle is defined %}
                    {{ TBTitle}}
                {% endif %}
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('TB_index') }}"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">
                        {% if TBSuTitle is defined %}
                            {{ TBSuTitle }}
                        {% endif %}
                       </li>
                    <li class="breadcrumb-item active">
                        {% if TBCurrent is defined %}
                            {{ TBCurrent }}
                        {% endif %}
                        </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endif %}